@use "sass:math";

// Primary unit of length (by default, 1rem = 16px).
$base-length: 1rem;

// Computes the line height for a given font size.
@function fontSizeToLineHeight($fontSize) {
  @return $fontSize + (0.5 * $base-length);
}

// General styling.
$content-horizontal-padding: $base-length;
$desktop-width-mode: 45 * $base-length;

// Styling for navigation bar.
$nav-bar-background-color: #f5f5f5;
$nav-bar-height: 5 * $base-length;
$nav-bar-icon-border-radius: 0.4 * $base-length;
$nav-bar-icon-filter: grayscale(1) opacity(0.2);
$nav-bar-icon-width: 2.75 * $base-length;
$nav-bar-logo-color-focus: #2f2f2f;
$nav-bar-logo-color-normal: #959595;
$nav-bar-logo-font-size: 2 * $base-length;
$nav-bar-separator-line: (0.0625 * $base-length) solid #c0c0c0;

// Styling for main view area.
$view-button-background-color-focus: #dddddd;
$view-button-background-color-normal: #e8e8e8;
$view-button-horizontal-padding: 2 * $base-length;
$view-button-vertical-padding: 0.75 * $base-length;
$view-checkbox-cross-line-border-radius: 0.0625 * $base-length;
$view-checkbox-cross-line-height: 0.125 * $base-length;
$view-checkbox-cross-line-width: 0.9 * $base-length;
$view-checkbox-horizontal-gap: 0.5 * $base-length;
$view-checkbox-size: 1.25 * $base-length;
$view-code-block-background-color: #f5f5f5;
$view-code-block-border: (0.0625 * $base-length) dashed #a8a8a8;
$view-code-block-font-size: 0.9 * $base-length;
$view-code-block-horizontal-padding: 0.8 * $base-length;
$view-code-block-vertical-padding: 0.5 * $base-length;
$view-content-vertical-padding: 3.5 * $base-length;
$view-figure-caption-horizontal-gap: 0.5 * $base-length;
$view-figure-caption-horizontal-padding: 0.75 * $base-length;
$view-figure-caption-vertical-margin: $base-length;
$view-figure-contents-gap: $base-length;
$view-flot-chart-legend-border: (0.0625 * $base-length) dashed #a8a8a8;
$view-flot-chart-legend-label-space-around: 0.5 * $base-length;
$view-form-element-border-active: (0.0625 * $base-length) solid #000000;
$view-form-element-border-focus: (0.0625 * $base-length) solid #727272;
$view-form-element-border-normal: (0.0625 * $base-length) solid #a8a8a8;
$view-form-element-border-radius: 0.2 * $base-length;
$view-form-vertical-gap: $base-length;
$view-header-margin-bottom: 1.75 * $base-length;
$view-indentation-length: 1.6 * $base-length;
$view-input-field-default-width: 12.5 * $base-length;
$view-input-field-gap: $base-length;
$view-input-field-padding: 0.25 * $base-length;
$view-label-background-color-focus: #dddddd;
$view-label-background-color-normal: #e8e8e8;
$view-label-border-radius: 0.6 * $base-length;
$view-label-horizontal-padding: 0.5 * $base-length;
$view-label-space-around: 0.3 * $base-length;
$view-label-vertical-padding: 0.2 * $base-length;
$view-link-color-focus: #247aca;
$view-link-color-normal: #0000ff;
$view-list-block-horizontal-gap: 0.5 * $base-length;
$view-list-block-vertical-gap: 0.25 * $base-length;
$view-list-bullet-size: 0.3125 * $base-length;
$view-map-block-horizontal-gap: $base-length;
$view-map-block-vertical-gap: 0.25 * $base-length;
$view-paragraph-font-size: $base-length;
$view-paragraph-line-height: 1.6 * $base-length;
$view-paragraph-vertical-margin: $base-length;
$view-post-details-font-size: 0.8 * $base-length;
$view-post-details-horizontal-gap: $base-length;
$view-post-details-vertical-margin: 0.5 * $base-length;
$view-separator-bottom-line: (0.0625 * $base-length) solid #e8e8e8;
$view-separator-top-line: (0.0625 * $base-length) solid #a8a8a8;
$view-subfigure-vertical-gap: 0.5 * $base-length;
$view-subtitle-font-size: 1.2 * $base-length;
$view-subtitle-margin-top: 1.5 * $base-length;
$view-table-block-horizontal-gap: 2 * $base-length;
$view-table-block-vertical-gap: 0.25 * $base-length;
$view-text-color-normal: #2f2f2f;
$view-title-color: #0000bb;
$view-title-font-size: 1.6 * $base-length;
/*
 * Some elements (e.g. equations) need extra padding to account for paragraph
 * line height, otherwise they appear too close to the paragraphs above and
 * below. Using margin instead of padding does not fix the problem since
 * adjacent elements in this category will still appear closer to each other
 * than adjacent text paragraphs.
 *
 * $view-vertical-correction-padding = 1/2 * ($view-paragraph-line-height -
 *                                            $view-paragraph-font-size)
 */
$view-vertical-correction-padding: 0.3 * $base-length;
