@use "sass:math";

// Strip unit from input value and convert it to a number (e.g. "10px" --> 10).
@function stripUnit($value) {
  @return math.div($value, ($value * 0 + 1));
}

// Convert input values in px to rem (e.g. "32px" --> 2rem).
@function rem($pxValue) {
  @return math.div(stripUnit($pxValue), 16) * 1rem;
}

// General styling.
$desktop-width-mode: rem(720px);

// Styling for navigation bar.
$nav-bar-background-color: #f5f5f5;
$nav-bar-logo-color-active: #2f2f2f;
$nav-bar-logo-color-normal: #959595;
$nav-bar-separator-color: #c0c0c0;

$view-paragraph-font-size: rem(16px);
$view-paragraph-line-height: 1.6;
